/*
// Rukayex's anime/manga list version 9. 17 March 2012. 
//
// Featured character is Hatsune Miku from VOCALOID. The artist is Gabaisuito-n. 
// Source image: http://www.pixiv.net/member_illust.php?mode=medium&illust_id=25846826
//
// Please do not use without permission.
*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic|Open+Sans+Condensed:300,300italic,700);

BODY
{
	font-family: 'Source Sans Pro', sans-serif !important;
	font-size: 14px;
	line-height: 24px;
	background-color:#ffffff;
	color:#8d9396;
	font-weight:normal;
	background: url(https://dl.dropbox.com/u/94582422/list13sawasawa/sawasawaxx.png) top center fixed no-repeat;
}

#mal_control_strip
{
	background: none !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-size:14px !important;
	position: relative !important;
	color: #8d9396 !important;
	text-transform:uppercase!important;
}

#mal_control_strip a, #mal_control_strip strong, #mal_control_strip a:hover 
{
	color: #8d9396 !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-size:14px;!important;
	font-variant: normal;
	font-weight: normal !important;
	text-decoration: none !important;
}

#mal_cs_pic{
z-index: 40!important;
color: #8d9396 !important;
position: fixed !important;
left: 15px!important;
bottom: 14px!important;
text-align: left !important;
border:none!important;
width: 120px!important;
height:18px!important;
}
#mal_cs_pic:before{font-family: 'Source Sans Pro', sans-serif !important;font-size:14px !important; content:'Welcome, Guest!'!important;width:120px!important;text-transform:uppercase!important;}
#mal_cs_pic a{display:none!important;}

#mal_cs_otherlinks div:first-child, #mal_cs_otherlinks div:first-child a{text-transform:uppercase!important;text-align:center!important;font-weight:normal!important;font-size:14px!important;}
#mal_cs_listinfo div:first-child, #mal_cs_listinfo div:first-child a{text-transform:uppercase!important;text-align:left!important;font-weight:normal!important;font-size:14px!important;}
#mal_cs_listinfo div:first-child:before{color:#8d9396;font-weight:normal!important;font-family:'Source Sans Pro', sans-serif !important;content:'Welcome, ';}
#mal_cs_listinfo div:first-child:after{color:#8d9396;font-weight:normal!important;font-family:'Source Sans Pro', sans-serif !important;content:'!';}
#mal_cs_listinfo div + div, #mal_cs_otherlinks div + div, #mal_cs_links{display:none!important;}
#mal_cs_listinfo {border-right: none !important;}

#list_surround{margin: 0 auto; position: relative; right:180px; width: 700px;}
#list_surround br:first-child + table {padding-bottom: 8px;}
#list_surround br {display: none !important;}

a{background-color: none !important; color: #8d9396; text-decoration: none;}
a:visited{color: #8d9396; text-decoration: none;}
a:hover, small:hover, small a:hover{color: #ecb6b6 !important; text-decoration: none;}
small, small a{font-size:10px;color:#efd3d3!important;font-weight:normal!important;text-transform:uppercase!important;}

.td1, .td2 {background: #ffffff; border-style:hidden; border-top: 1px dotted #ededed!important;}
.td1 small, .td2 small{}
.td1, .td1 a, .td2, .td2 a {color: #8d9396;}
.td1 a:hover, .td2 a:hover {color: #ecb6b6;}

*[id^=more] .td1, *[id^=more] .td2 {font-weight:normal!important;color:#8d9396;text-align:left!important;padding-left: 40px!important; padding-right:40px!important;line-height:20px!important;}
 
.table_header {padding-top:3px;text-transform:uppercase;font-size:14px;color: #8d9396; background:none; border-style: hidden; text-decoration: none !important; font-weight: normal !important;}
.table_headerLink, .table_headerLink:Visited {color: #8d9396; text-decoration: none !important;}
.table_headerLink:Hover {color: #ecb6b6;}
.table_headerLink strong, .table_headerLink{font-weight: normal !important;}

td[class^=t]:first-child{padding-left:5px;padding-right:5px;}
td[class^=t]:last-child{padding-right:5px;}

.status_selected, .status_not_selected
{
	border: none;
	font-size: 14px;
	z-index: 20 !important;
	position: relative;
	text-transform: uppercase !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	color: #8d9396;
	padding-top: 20px;
	padding-bottom: 20px;
}
.status_not_selected:hover, .status_selected:hover{background:#f6e6e6;}

.header_title {font-weight:normal!important;background:url(http://dl.dropbox.com/u/94582422/list9/sectionheader.png);text-align:center;text-transform:uppercase!important;font-size:24px!important;font-family: 'Open Sans Condensed', sans-serif !important;color:#8d9396;width: 700px; height: 43px;padding-top:17px;letter-spacing: .5em;}
.header_cw, .header_completed, .header_ptw, .header_onhold, .header_dropped {}

.category_totals
{
	background: url(http://dl.dropbox.com/u/94582422/list9/categorybg.png) repeat-x;
	text-align:center;
	font-family: 'Source Sans Pro', sans-serif !important;
	text-transform:uppercase!important;
	font-size: 12px;
	border-top: 1px #ededed;
	color: #8d9396;
	padding-top:2px;
}

#grand_totals:before{content:'grand totals'; display:block;font-weight:normal!important;text-align:center;text-transform:uppercase!important;font-size:24px!important;font-family: 'Open Sans Condensed', sans-serif !important;color:#8d9396;padding-top:5px;letter-spacing: .5em;}
#grand_totals
{	text-align: center !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	text-transform:uppercase!important;
	color:#8d9396;
	font-size:14px;
	border-color: #efd3d3;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-width: 1px;
	padding-left: 150px; padding-right: 150px;
}

.animetitle
{
	font-family: 'Source Sans Pro', sans-serif !important;
	font-size: 14px;
	text-transform:uppercase;
	letter-spacing:.1em;
}

#copyright
{padding-bottom:50px;padding-left: 75px; padding-right: 75px;}
#copyright, #copyright a{color: #8d9396;}
#copyright a:hover {color: #8d9396;}

#copyright:before {font-size: 14px; color: #d0a6a6;content:'Design & code by Rukayex. Art by sawasawa. Completed March 2013.'; display: block;}

#list_surround {margin:auto;}

#mal_cs_otherlinks div:first-child {z-index:40;position: fixed !important;right: 0px !important;left: 0px !important;margin: 0 auto !important;bottom:9px!important;text-align:center!important;}
#mal_cs_listinfo div:first-child{z-index:50;position:fixed;bottom:6px!important;left:20px!important;}

#inlineContent{z-index:21;display: inline !important;position: fixed;bottom:0px;left:0px;background: url(http://dl.dropbox.com/u/94582422/list9/barbg.png) repeat-x;height: 92px !important; width:100%;}

#search {z-index: 40; position:fixed!important; right: 5px!important; bottom:5px!important;}
#searchBox
{	background:none!important;
	color: #8d9396;
	padding-left:10px;
	padding-right: 10px;
	width:250px !important; 
	height:24px; 
	font-weight:normal;
	font-size: 14px !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	text-align: right;
	text-transform: uppercase;
	border:none;
}

#mal_cs_powered{}
#mal_cs_powered a, #searchListButton{display:none;}

tr, td, #grand_totals, a span{
-moz-transition: all 0.45s ease-out; /* FF4+ */
-o-transition: all 0.45s ease-out; /* Opera 10.5+ */
-webkit-transition: all 0.45s ease-out; /* Saf3.2+, Chrome */
-ms-transition: all 0.45s ease-out; /* IE10? */
transition: all 0.45s ease-out; 
}
tr:hover .td1, tr:hover .td2, tr:hover .table_header, tr:hover .category_totals{
background-color: rgb(250,250,250) !important;
background-color: rgba(250,250,250,1) !important;
}